<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1 id="info">
        Wait...
    </h1>

    <script type="text/javascript">
        function get_google_data() {
            let a = location.hash.substr(1)

            a = a.split("&")

            let google_data = {}

            a.forEach((element, index) => {
                let [k, v] = element.split("=")
                google_data[k] = v
            })

            return google_data
        }

        // http://localhost:8000/users/google_auth_page#state=pass-through%20value&access_token=ya29.a0AeTM1ifLUSdy6tt0l1BJ2AlV1LMfUayCiYbUdFdvdurvnD9FWr5LvsqTOQavagMGT71krcsqAHn-Fv0psK99f4w9pJzNBKKtm01PIZtjcJKTu8rjkEwFnqJiutkCQfudP75rODsPyGA56Erl0Jusk8aYlgXoaCgYKAXASARESFQHWtWOmC0l6qDYnVSofJh_06-xp3A0163&token_type=Bearer&expires_in=3599&scope=email%20profile%20https://www.googleapis.com/auth/userinfo.profile%20https://www.googleapis.com/auth/userinfo.email%20openid&authuser=0&prompt=consent


        window.addEventListener("load", () => {
            let access_token = get_google_data()["access_token"];
            let frontend_url_base = "{{frontend_url_base}}";

            if (!access_token || !frontend_url_base) {
                document.getElementById("info").innerHTML = "Error";
                return
            }

            let u = frontend_url_base + "/#/users/google_auth?access_token=" + access_token

            location.assign(u)
        })

    </script>

</body>

</html>